<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>style}}
</head>
<body>
<div id="container">
    <form>
        <a href="/login"><input type="button" value="SIGNIN"></a>
        <a href="/signup"><input type="button" value="SIGNUP"></a>
    </form>
</div>
<script type="application/javascript">
    document.addEventListener('contextmenu', event => event.preventDefault())
</script>
</body>
</html>
